.TextArea {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px
  }
  
  .TextInput {
    border:5px solid #fb4275;
    border-radius:360px;
    
  }
  
  .Submit {
    background-color: #fb4275;
    border-color: #fb4275;
    border : transparent;
    cursor: pointer;
    padding: 10px 60px 10px 60px;
    color: white;
    border-radius:360px;
    font-weight: 600;
  }
  
  .logotwo {
    margin:auto 300px;
    padding-bottom: 20px;
    border-bottom:2px solid lightgrey;
    padding-top :auto 100px;
    padding-top: 100px
  }
  
  .copyright {
    text-align: center;
    color:#999;
    font-size: 15px;
  }